In [1]:
from pyspark import SparkFiles
from pyspark.sql import SparkSession
from pyspark.sql import types as T
from pyspark.sql import Row
from pyspark.sql.functions import col,isnan, when, count
import pyspark.sql.functions as F
from pyspark.ml.feature import *
import warnings
warnings.filterwarnings("ignore")
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import SparkSession, SQLContext
from pyspark import SparkConf, SparkContext

In [3]:
#Machine Learning Data
inp="mongodb://127.0.0.1/Project.mldata"
outp="mongodb://127.0.0.1/Project.mldata"

In [4]:
#Visualization Data
inp="mongodb://127.0.0.1/Project.OriData"
outp="mongodb://127.0.0.1/Project.OriData"

In [5]:
spark=SparkSession\
        .builder\
        .appName("EmployeeAttrition")\
        .config("spark.mongodb.input.uri",inp)\
        .config("spark.mongodb.output.uri",outp)\
        .config("spark.jars.packages","org.mongodb.spark:mongo-spark-connector_2.12:2.4.2")\
        .getOrCreate()

In [6]:
url = "https://raw.githubusercontent.com/some1damaged/employee_attrition/main/HR_Employee_Attrition_Dataset.csv"
spark.sparkContext.addFile(url)

In [7]:
rawdf = spark.read.option("header" ,"true").option("inferSchema",True).csv(SparkFiles.get("HR_Employee_Attrition_Dataset.csv"))
rawdf.show(5)

+--------------+---------+---+-----------------+---------+--------------------+----------------+---------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|EmployeeNumber|Attrition|Age|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+--------------+---------+---+-----------------+---------+--------------------+----------------+---------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|             1|      Yes| 41|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
|             2|       No| 49|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
|             3|      Yes| 37|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
|             4|       No| 33|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|                      4|Female|        56|             3|       1|  Research Scientist|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|               0|                8|                    3|              3|             8|                 7|                      3|                   0|
|             5|       No| 27|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
+--------------+---------+---+-----------------+---------+--------------------+----------------+---------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 5 rows

In [8]:
rawdf.printSchema()

root
 |-- EmployeeNumber: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)

In [9]:
#Checking for null values
rawdf.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in rawdf.columns]).show()

+--------------+---------+---+--------------+---------+----------+----------------+---------+--------------+-----------------------+------+----------+--------------+--------+-------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|EmployeeNumber|Attrition|Age|BusinessTravel|DailyRate|Department|DistanceFromHome|Education|EducationField|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+--------------+---------+---+--------------+---------+----------+----------------+---------+--------------+-----------------------+------+----------+--------------+--------+-------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|             0|        0|  0|             0|        0|         0|               0|        0|             0|                      0|     0|         0|             0|       0|      0|              0|            0|            0|          0|                 0|     0|       0|                0|                0|                       0|            0|               0|                0|                    0|              0|             0|                 0|                      0|                   0|
+--------------+---------+---+--------------+---------+----------+----------------+---------+--------------+-----------------------+------+----------+--------------+--------+-------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+

In [10]:
rawdropdf=rawdf.drop("EmployeeNumber","Over18","StandardHours")

In [11]:
rawdropdf.show(1)

+---------+---+--------------+---------+----------+----------------+---------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+--------+-----------------+-----------------+------------------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Attrition|Age|BusinessTravel|DailyRate|Department|DistanceFromHome|Education|EducationField|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|        JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---------+---+--------------+---------+----------+----------------+---------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+--------+-----------------+-----------------+------------------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|      Yes| 41| Travel_Rarely|     1102|     Sales|               1|        2| Life Sciences|                      2|Female|        94|             3|       2|Sales Executive|              4|       Single|         5993|      19479|                 8|     Yes|               11|                3|                       1|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
+---------+---+--------------+---------+----------+----------------+---------+--------------+-----------------------+------+----------+--------------+--------+---------------+---------------+-------------+-------------+-----------+------------------+--------+-----------------+-----------------+------------------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 1 row

## Dealing with categorical columns

In [14]:
#Fetching distinct values
attrition_type = rawdropdf.select('Attrition').distinct().rdd.flatMap(lambda x: x).collect()
businessTravel_type = rawdropdf.select('BusinessTravel').distinct().rdd.flatMap(lambda x: x).collect()
department_type = rawdropdf.select('Department').distinct().rdd.flatMap(lambda x: x).collect()
educationField_type = rawdropdf.select('EducationField').distinct().rdd.flatMap(lambda x: x).collect()
gender_type = rawdropdf.select('Gender').distinct().rdd.flatMap(lambda x: x).collect()
jobRole_type = rawdropdf.select('JobRole').distinct().rdd.flatMap(lambda x: x).collect()
maritalStatus_type = rawdropdf.select('MaritalStatus').distinct().rdd.flatMap(lambda x: x).collect()
overTime_type = rawdropdf.select('OverTime').distinct().rdd.flatMap(lambda x: x).collect()

#Filtering using list comprehension
types_expr = [F.when(F.col('Attrition') == attr, 1).otherwise(0).alias("Attrition_" + attr) for attr in attrition_type]
businesstypes_expr = [F.when(F.col('BusinessTravel') == travel, 1).otherwise(0).alias("BusinessTravel_" + travel) for travel in businessTravel_type]
department_expr = [F.when(F.col('Department') == dept, 1).otherwise(0).alias("Department_" + dept) for dept in department_type]
educationField_expr = [F.when(F.col('EducationField') == field, 1).otherwise(0).alias("EducationField_" + field) for field in educationField_type]
gender_expr = [F.when(F.col('Gender') == gen, 1).otherwise(0).alias("Gender_" + gen) for gen in gender_type]
jobRole_expr = [F.when(F.col('JobRole') == job, 1).otherwise(0).alias("JobRole_" + job) for job in jobRole_type]
maritalStatus_expr = [F.when(F.col('MaritalStatus') == status, 1).otherwise(0).alias("MaritalStatus_" + status) for status in maritalStatus_type]
overTime_expr = [F.when(F.col('OverTime') == over, 1).otherwise(0).alias("OverTime_" + over) for over in overTime_type]

ml_df=rawdropdf.select('*',*types_expr+businesstypes_expr+department_expr+educationField_expr+gender_expr+jobRole_expr+maritalStatus_expr+overTime_expr)

In [15]:
mlnew_df = ml_df.drop('OverTime_No','Attrition_No','Gender_Male','Attrition','BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus','OverTime')

In [16]:
mlnew_df.show(1)

+---+---------+----------------+---------+-----------------------+----------+--------------+--------+---------------+-------------+-----------+------------------+-----------------+-----------------+------------------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+-------------+--------------------------------+-------------------------+----------------------------+----------------+---------------------------------+--------------------------+-------------------------------+--------------------+------------------------+----------------------+----------------------------+------------------------------+-------------+-----------------------+------------------------------+-----------------------------+----------------------------+---------------------------------+--------------------------+---------------+-------------------------+-----------------------+---------------------+----------------------+--------------------+------------+
|Age|DailyRate|DistanceFromHome|Education|EnvironmentSatisfaction|HourlyRate|JobInvolvement|JobLevel|JobSatisfaction|MonthlyIncome|MonthlyRate|NumCompaniesWorked|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|Attrition_Yes|BusinessTravel_Travel_Frequently|BusinessTravel_Non-Travel|BusinessTravel_Travel_Rarely|Department_Sales|Department_Research & Development|Department_Human Resources|EducationField_Technical Degree|EducationField_Other|EducationField_Marketing|EducationField_Medical|EducationField_Life Sciences|EducationField_Human Resources|Gender_Female|JobRole_Sales Executive|JobRole_Manufacturing Director|JobRole_Laboratory Technician|JobRole_Sales Representative|JobRole_Healthcare Representative|JobRole_Research Scientist|JobRole_Manager|JobRole_Research Director|JobRole_Human Resources|MaritalStatus_Married|MaritalStatus_Divorced|MaritalStatus_Single|OverTime_Yes|
+---+---------+----------------+---------+-----------------------+----------+--------------+--------+---------------+-------------+-----------+------------------+-----------------+-----------------+------------------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+-------------+--------------------------------+-------------------------+----------------------------+----------------+---------------------------------+--------------------------+-------------------------------+--------------------+------------------------+----------------------+----------------------------+------------------------------+-------------+-----------------------+------------------------------+-----------------------------+----------------------------+---------------------------------+--------------------------+---------------+-------------------------+-----------------------+---------------------+----------------------+--------------------+------------+
| 41|     1102|               1|        2|                      2|        94|             3|       2|              4|         5993|      19479|                 8|               11|                3|                       1|               0|                8|                    0|              1|             6|                 4|                      0|                   5|            1|                               0|                        0|                           1|               1|                                0|                         0|                              0|                   0|                       0|                     0|                           1|                             0|            1|                      1|                             0|                            0|                           0|                                0|                         0|              0|                        0|                      0|                    0|                     0|                   1|           1|
+---+---------+----------------+---------+-----------------------+----------+--------------+--------+---------------+-------------+-----------+------------------+-----------------+-----------------+------------------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+-------------+--------------------------------+-------------------------+----------------------------+----------------+---------------------------------+--------------------------+-------------------------------+--------------------+------------------------+----------------------+----------------------------+------------------------------+-------------+-----------------------+------------------------------+-----------------------------+----------------------------+---------------------------------+--------------------------+---------------+-------------------------+-----------------------+---------------------+----------------------+--------------------+------------+
only showing top 1 row

In [17]:
mlnew_df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)
 |-- Attrition_Yes: integer (nullable = false)
 |-- BusinessTravel_Travel_Frequently: integer (nullable = false)
 |-- BusinessTravel_Non-Travel: integer (nullable = false)
 |-- BusinessTravel_Travel_Rarely: integer (nullable = false)
 |-- Department_Sales: integer (nullable = false)
 |-- Department_Research & Development: integer (nullable = false)
 |-- Department_Human Resources: integer (nullable = false)
 |-- EducationField_Technical Degree: integer (nullable = false)
 |-- EducationField_Other: integer (nullable = false)
 |-- EducationField_Marketing: integer (nullable = false)
 |-- EducationField_Medical: integer (nullable = false)
 |-- EducationField_Life Sciences: integer (nullable = false)
 |-- EducationField_Human Resources: integer (nullable = false)
 |-- Gender_Female: integer (nullable = false)
 |-- JobRole_Sales Executive: integer (nullable = false)
 |-- JobRole_Manufacturing Director: integer (nullable = false)
 |-- JobRole_Laboratory Technician: integer (nullable = false)
 |-- JobRole_Sales Representative: integer (nullable = false)
 |-- JobRole_Healthcare Representative: integer (nullable = false)
 |-- JobRole_Research Scientist: integer (nullable = false)
 |-- JobRole_Manager: integer (nullable = false)
 |-- JobRole_Research Director: integer (nullable = false)
 |-- JobRole_Human Resources: integer (nullable = false)
 |-- MaritalStatus_Married: integer (nullable = false)
 |-- MaritalStatus_Divorced: integer (nullable = false)
 |-- MaritalStatus_Single: integer (nullable = false)
 |-- OverTime_Yes: integer (nullable = false)

# Loading data into mongodb

In [18]:
rawdropdf.write.format("com.mongodb.spark.sql.DefaultSource").option("database","Project").option("collection", "OriData").save()

In [19]:
mlnew_df.write.format("com.mongodb.spark.sql.DefaultSource").option("database","Project").option("collection", "mldata").save()